

.vacancy-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 16px;
  background-color: var(--secondary-background-color);
  padding: 16px;

}

.vacancy-name {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 8px;
  font-weight: 600;
}

.vacancy-icon {
  width: 24px;
  height: 24px;

}

.vacancy-description {
  margin-bottom: auto;

}

.vacancy-period {
  margin-top: 8px;
  font-style: italic;
}

.person-card {
  display: flex;
  align-items: center;
  gap: 24px;
  border-radius: 16px;
  background-color: var(--secundary-color);
  padding: 16px;
}

.person-name {
  font-weight: 600;
  margin-bottom: 8px;

}

.person-picture {
  min-width: 80px;
  width: 80px;
  height: 80px;
  flex-grow: 0;
  flex-shrink: 1;
  border-radius: 100vw;
  overflow: hidden;
}

.person-picture > img {
  width: 100%;
  aspect-ratio: 1;
}

.card-grid {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

section, main {
  padding: 24px;
}

section,main {
  margin: 8px 8px;
}

.section-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
}

.section-description {

}
