/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

/* VARIAVEIS */
:root {
    --altura-cabecalho: 6rem;
    --cor-cartao: #DEB887;
    --cor-primaria: #CD853F;
    --cor-body: #F5DEB3;
    --cor-texto-escuro: rgb(0,0,0);
    --cor-texto-claro: rgb(255,255,255);

    --font-body: 'Dosis', sans-serif;
    --h1-font-size: 3rem;
    --h2-font-size: 2rem;
    --h3-font-size: 1.2rem;
    --normal-font-size: 1rem;
    --pequena-font-size: 0.7rem;

    --font-medium: 500;
    --font-semi-bold: 600;
}

/* RESET */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}


body {
    font-family: var(--font-body);
    background-color: var(--cor-body);
    font-size: var(--normal-font-size);
}

/* HEADER */
.cabecalho {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: var(--cor-primaria);
    align-items: center;
    height: var(--altura-cabecalho);
    text-transform: capitalize;
}

.logo {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semi-bold);
}

.menu__lista {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__item {
    padding-right: 1.5rem;
}

.menu__link {
    color: var(--cor-texto-claro);
    font-size: var(--h3-font-size);
}

.menu__link:hover {
    text-decoration: underline;
    font-weight: var(--font-semi-bold);
}

.banner {
    width: 100%;
    height: calc(100vh - 15rem);
}

.banner__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
}

.banner__descricao {
    width: 35%;
    padding: 1rem;
}

.banner__titulo {
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: 1.5rem;
}

.banner__texto {
    padding-top: 0.7rem;
    text-align: justify;
    font-size: var(--h3-font-size);
}

.banner__botao {
    width: 80%;
    margin-top: 1.5rem;
    height: 2rem;
    background-color: var(--cor-cartao);
    color: var(--cor-texto-escuro);
    font-size: var(--h3-font-size);
    font-weight: var(--font-semi-bold);
}

.banner__botao:hover {
    background-color: #CD853F;
    transition: 300ms;
    color: var(--cor-texto-claro);
}

.banner__img {
    width: 65%;
}